.body {
    flex: 1;
    width: 90%;
    max-height: 79%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 4rem;
    transition: width 0.3s;
    transition: padding 0.3s;
}

@media (max-width: 1100px) {
    .body {
      width: 100%;
      padding: 0;
    }
  }